.home-container{
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
}

.right-area{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.main-box{
    /* display: flex; */
    position: relative;
    top: 5em;

}
